body {
	background: #ADD8E6;
  font-family: "Times New Roman", Times, serif;
}

.initiativeList {
  margin-top: 30px;
}

.initiativeListEntry {
  width: 70%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
 /* padding: 5px;*/
  background: white;
}

.expand img {
  max-height: 15px;
  float: right;
  bottom: 5px;
}

.initiativeName {
  padding: 10px;
  font-weight: 800;
  background: lightgrey;
  font-size: 1.5em;
  padding: 3px;
  margin: 0;
}
.initiativeDescription {
  color: lightgrey;
  font-style: italic;
  font-size: 1em;
}
.initiativeSubtitle {
  font-size: 1em;
}

.hidden {
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
}

.notSelected, .selected {
  width: 60%;
  height: 1.5em;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  vertical-align: center;
  text-align: center;
}

.notSelected {
  background: lightgrey;
}
.notSelected:hover {
  background: grey;
  color: white;
  cursor: pointer;
}
.selected {
  background: green;
  color: white;
}
.selected:hover {
  cursor: pointer;
}
.click {
  width: 100%;
}

.nav {
  width: 75%;
  height: 40px;
  background-color: #eee;
  font-size: 0.8em;
  margin: auto;
}

.navEntry {
  float: left;
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navEntry:hover {
  cursor: pointer;
  background-color: #ddd;
}

.usersChoice {
  width: 40%;
  font-weight: 800;
  margin: auto;
  text-align: center;
  height: 60px;
  margin-top: 15px;
}

.usersChoiceName {
  font-weight: 800;
}